/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-select: none;

/* margin */
    
    margin: 0;

/* Text on page */

    color: white;
}

a{outline:none;}

/* background */

body:before{

    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(./img/background.jpg) no-repeat center center;
    background-size: cover;
    background-color: #0a1e37;
}
    
.main-header{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

/* Logo */

.logo{
    text-align: center;
    margin-left: 3%;
    margin-top: 25px;
}
/* hiperlink to home website */

.logo > a{
    text-decoration: none;
    color: white;
}

.logo > a > h1{
    font-size: 32px;
    margin-top: -25px;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
}

/* sign-in/logout button */

.main-nav{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 3%; 
    display: flex;
    align-items: center;
}
.button-container{
    display: flex;
    position: relative;
}
div[class^="nav-"]{
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 100%;
    background-color: orange;
    -webkit-box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.95);
    box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.95);
    background-position: center;
    background-repeat: no-repeat;   
}
.nav-back{
    background-image: url(./img/back.png);
    background-size: 28px 28px;   
}
.nav-create{
    background-image: url(./img/create.png);
    background-size: 18px 18px;  
}
.nav-home{
    background-image: url(./img/home.png);
    background-size: 28px 28px;
}
.nav-user{
    background-image: url(./img/user.png);
    background-size: 28px 28px;
}
.user-detail{
    position: absolute;
    top: 50px;
    right: -54px;
    width: 150px;
    border-radius: 12px;
    box-sizing: border-box;  
    /* background-color: orange; */
    background-color: rgb(204, 82, 0);
    /* box-shadow: 2px 5px 2px 0  #0a1e37 inset, -2px -5px 2px -5px  #0a1e37 inset;  */
    display: none;
    list-style-type: none;
}
.user-detail li{
    margin: 8px auto;
    text-align: center;
}
.user-detail li:hover{
    color: #800000;
    cursor: pointer;
}
.user-detail li a:hover{
    color: #800000;
    cursor: pointer;
}
div[class^="nav-"]:hover{
    background-color: #800000;
}
/* flex */
main{
    flex: auto;
}

.button-sign-in, .button-logout{
    width: 100px;
    line-height: 25px;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px 10px;
    text-align: center;
    font-size:  18px;
    font-weight: bold;
    -webkit-box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.95);
    box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.95);
}

nav a{
    text-decoration: none;
    color: white;
}

.button-sign-in:hover, .button-logout:hover{
    background-color:#800000;
}

/* welcome-banner */

.welcome-banner{
    margin-top: 100px;
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 60px;
    color: #f8ab27;
    
}

/* Blur background */

.blur-container{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px; /* padding sign-up button*/ 
    width: 90%;
    position: relative;
}

.blur-background{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    background: rgba(175, 204, 230, 0.15);
    transform: translate3d(0, 0, 0);
    border-radius: 20px;
    z-index: -1;   
}

/* Text */

.blur-container h3{
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    font-family: 'Amatic SC', cursive;
    margin: 80px auto 0px;
}

.text-on-blur{
    /* padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px; */
    padding: 50px 10%;
    min-height: 280px;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: rgb(255, 232, 204);
    text-align: justify;
    text-align-last: center;
    
}

.text-on-blur p{
    text-align: right;
    text-align-last: right;
    padding-top: 30px;
}

/* sign-in button */
.button-sign-up
{
    display: block;
    margin: 40px auto 40px;
    width: 22%;
    line-height: 40px;
    background-color: #ffa500;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size:  20px;
    font-weight: bold;
    -webkit-box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.95);
    box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.95);
}
.button-sign-up:hover{
    background-color: #800000;
      
}

.blur-container > a{
    text-decoration: none;
    color: white;
}

footer{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px 0px;
    margin-top: 200px;
    line-height: 24px;
    text-align: center;
    color: lightgrey;
    font-size: 15px;
    letter-spacing: 5px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.social-media {
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.social-media img:hover{
    transform: scale(1.5);
}

.lang{
    width: 42px;
    height: 42px;
    background-size: contain !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 8%;

}
.signature a{
    color: lightgray;
    text-decoration: none;
}
.signature a:hover{
    color: darkgrey;
    text-decoration: underline;
}

.lang:hover{
    cursor: pointer;
}
@media (max-width: 700px)  {
    .social-media{
        position: static;
        margin: 20px auto;
    }
    #fb-root{
        display: none;
    }
    .lang{
        transform: none;
        position: static;
        margin: 0 auto;
    }
}
.desc-cnt{
    padding: 100px 10%;
    font-size: 2em;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Comfortaa', cursive;
    text-align: justify;
    color: wheat;
}
.desc-h{
    text-align: center;
    font-size: 2.4em;
    color: #ffa500;
}

/*-------------------------------------------------------------------------
|                                                                         |
|                             Registration/Login                          |
|                                                                         |
-------------------------------------------------------------------------*/

/* Sign up form */

.form-container{
    margin: 0px auto;
    width: 35%;
    padding: 50px 30px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
}
.form-container h2{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 8px;
    font-size: 30px;
}

.sign-form{
    display: flex;
    flex-direction: column;
}

.sign-form input{
    width: 80%;
    background: transparent;
    border: hidden;
    border-radius: 0px;
    border-bottom: 1px solid white;
    margin: 23px auto;
    text-align: center;
    color: #c5c1c1;
    font-size: 16px;
    outline: none;
}

.sign-form input[type="text"]:focus, .sign-form input[type="password"]:focus{ 
    border-radius: 18px;
    border: hidden;
    border: 2px solid white;
    box-shadow: 0 0 10px 8px  rgba(255,255,255,255.75);
}

.sign-form input:-webkit-autofill,
.sign-form input:-webkit-autofill:hover, 
.sign-form input:-webkit-autofill:focus{
    
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.checkbox{
    display: block;
    width: 70%;
    margin: 0 auto;
}

.sign-form input[type="checkbox"]{
    width: auto;
    margin-right: 20px;
}

.sign-form input[type="submit"]{
    margin: 40px auto;
    width: 80%;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
}

.sign-form input[type="submit"]:hover{
    background-color: #800000 ;
}

.form-text{
    padding-left: 10%;
    padding-right: 10%;
    color: orange;
}


/* https://www.youtube.com/watch?v=K1CzktZMXhY */


.user{
    margin: 0 auto;
    display:block;
    width: 80%;
    color: lightgray;
    line-height: 25px;
}
.user a{
    color: white;
    text-decoration: none;
}
.user a:hover{
    text-decoration: underline;
    display:block;
    width: 80%;
    color: lightgray;
    line-height: 25px;
}
.db_error{
    color: red;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    display:block;
    width: 80%;
    
}
.grecaptcha-badge { 
    visibility: hidden;
}

.google{
    margin: 0 auto 30px;
    display: block;
    font-size: 12px;
    text-align: center;
    width: 75%;
    color: #8c8c8c;
}

/*-------------------------------------------------------------------------
|                                                                         |
|                             Main Content                                |
|                                                                         |
-------------------------------------------------------------------------*/

.panel{
    
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 600;
    color: rgb(242, 166, 46);
    border-bottom: solid 5px rgb(153, 77, 0);
    padding-bottom: 10px;
    border-radius: 0px 0px 15px 15px;
} 
.clock{
    margin-top: 50px;
}

.clock h2{
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0 ;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 15px;

}

.clock .time{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}
.clock .time div{
    
    position: relative;
    margin: 0 5px;
}

.clock .time div span{
    
    position: relative;
    display: block;
    width: 12vw;
    height: 14vh;
    background: rgba(242, 166, 46,.5);
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0px 7px 22px -2px rgba(0,0,0,0.2);
    border-radius: 10px 10px 0px 0px;

   
}
.clock .time div span:nth-child(2){
    height: 40px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: rgb(242, 166, 46);
    text-transform: uppercase;
    border-radius: 0px 0px 5px 5px;
    
}

.clock .time div:last-child span{
    
    background: rgba(252, 146, 28,.5);
}
.clock .time div:last-child span:nth-child(2){

    background: rgb(255, 130, 13);
}
.panel-container{
    display: block;
    padding:  50px 20px 80px;
    margin: 100px auto 20px;
    width: 85%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    
}

.categories{
    width: 70%;
    margin: 50px auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categories img{
    margin: 10px 10px;
}
.categories img:hover{
    transform: scale(1.2);
}
.container{
    width: 85%;
    margin: 30px auto 0;
    color: white;
    font-family: 'Nerko One', cursive;
    letter-spacing: 2px;
}
.container p{
    font-size: 18px;
    line-height: 30px;
}
.topic-title{
    margin: 20px auto 0;
    background: rgb(43, 122, 171);
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;
    padding: 10px;
    border-radius: 15px;
    border: groove 5px rgb(33, 94, 133);
    text-align: center;
    user-select: text;
    -webkit-user-select: text;
}
.topic-details{
    margin: 20px auto 0;
    background: rgb(17, 49, 69);
    padding: 30px 20px  10px;
    font-size: 25px;
    border-radius: 15px;
    border: groove 5px rgb(33, 94, 133);   
}

.topic-details .text{
    user-select: text;
    -webkit-user-select: text;
}
.posts{
    margin: 80px auto 0px;
    background: rgba(27, 71, 124,.75);
    border-radius: 15px;
    border: groove 5px orange;   
}
.posts > section{
    padding: 30px 15px;
    border-bottom: dashed 5px orange;
    border-radius: 10px;
}
.posts > section:hover{
    background:rgba(0, 0, 0, 0.2);
    background-clip: padding-box;   
}
.post{
    user-select: text;
    -webkit-user-select: text;
}
.post sub{
    user-select: none;
    -webkit-user-select: none;
}
.post-action{
    margin-top: 20px;
}
.like{
    background: url(img/like.png);
}
.unlike{
    background: url(img/unlike.png);
}
.unlike:hover{
    background-color: red !important;
}
.like:hover{
    background-color: green !important;
}
.like , .unlike{
    background-color: rgb(43, 122, 171);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
}

.reply-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 50px;
    width: 60%;
    
    
}
.reply-form textarea::-webkit-scrollbar {
    display: none;
  }
.reply-form textarea {
    height: 180px;
    resize: none;
    padding: 10px;
    outline: none;
    border: none;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    border: outset 5px rgb(148, 250, 238); 
    border-radius: 8px; 
    background-color: rgb(43, 122, 171, 0.7);
    color: white;
    font-family: 'Nerko One', cursive;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.reply-form button{
    border: none;
    height: 60px;
    width: 25%;
    margin: 20px auto 0px;
    outline: none;
    border: outset 5px rgb(255, 130, 13);  
    background-color: orange;
    font-size: 40px;
    font-family: 'Nerko One', cursive;
    border-radius: 15px;
    color: white;
    

}
.reply-form button:hover {

    background-color: rgb(255, 130, 13);
    cursor: pointer;
}
.topic-form{
    font-family: 'Nerko One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 50px;
    width: 50%;
}
.topic-form input, .topic-form textarea, .topic-form button {
    background-color:  rgb(43, 122, 171);
    border: outset 5px  rgb(33, 94, 133);
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 25px;
    font-family: 'Nerko One', cursive;
    border-radius: 15px;
    color:white ;
    -webkit-box-shadow: 2px 2px 20px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 20px 7px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 20px 7px rgba(0,0,0,0.75);
}
.topic-form input::placeholder, .topic-form textarea::placeholder{
    color: rgb(184, 181, 181);
}
.topic-form input:-webkit-autofill,
.topic-form input:-webkit-autofill:hover, 
.topic-form input:-webkit-autofill:focus{
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}
.topic-form textarea{
    background-color: rgb(17, 49, 69, 0.75);
    height: 200px;
    resize: none;
}
.topic-form button{
    width: 20%;
    height: 30%;
    margin: 20px auto;
    border: outset 5px rgb(255, 130, 13);  
    background-color: orange;
}
.topic-form textarea::-webkit-scrollbar {
    display: none;
  }
.topic-form button:hover{
    background-color:rgb(255, 130, 13);
    cursor: pointer;
}

.topics{
    width: 80%;
    margin: 80px auto 0px;
    padding: 20px 10px;
}
.topics a{
    text-decoration: none;
    color: orange;
}
.topics section{
    margin: 20px 0px;
    padding: 30px 15px 10px;
    border: groove 5px rgb(43, 122, 171);
    border-radius: 10px;
    background: rgb(10, 30, 55);
}
.topics div:nth-child(2){
    margin-left: auto;
    margin-right: 10px;
    color: white;
    flex-basis: 150px;
}
.topics section:hover{
    background-color:   rgb(43, 122, 171);
    
}

.gallery{
    width: 100%;
    display: flex;
    justify-content: left;
}
.gallery img{
    margin: 5px;
    height: auto;
    /* min-height: 220px; */
    max-height: 30vw;
    border-radius: 10px;
}
.gallery img:hover{
    cursor: pointer;
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.close{
    color: red;
}
.close1{
    color: red;
}
.close2{
    color: white;
}
.close:hover{
    text-decoration: underline;
    cursor: pointer;
}

.close:hover .close2{
    color: red;
}
.close:hover .close1{
    color: white;
}

/*-------------------------------------------------------------------------
|                                                                         |
|                             About us                                    |
|                                                                         |
-------------------------------------------------------------------------*/

.about-cnt{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.container2{
    display: flex;
    /* height: 800px; */
    margin-bottom: 80px;
    padding: 20px;
}
.about-team{
    margin-top: 100px;
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 60px;
    color: lightgray;
    
}
.about-banner{
    margin-top: 20px;
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
    color: #f8ab27;
    
}
.about-contact{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
    color: #f8ab27;
    
}
.onepi{
    width: 33%;
    border-right: 2px dashed #f8ab27;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.onepi:last-child{
    border-right: none;
}
.onepi p{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.onepi p:nth-child(3){
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 30px;
    color: lightgray;
}
.onepi p:nth-last-child(2){
    font-size: 1.2em;
    color: #FA4D3E;
    padding: 10px;
}
.onepi img{
    width: 30%;
    height: auto;
    border-radius: 50%;
    /* margin-top: 30px; */
    border: 3px solid #ffa500;
    /* border: 3px solid black; */
    margin-bottom: 40px;
}
.contact-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.contact-row a{
    color: white;
    text-decoration: none;
}
.contact-row a:hover{
    color: lightgray;
    text-decoration: underline;
}

.about-social{
    width: 80px;
    height: 80px;
    padding: 30px;
}
.about-social img{
    width: 100%;
    height: 100%;
    border: none;
}
.about-social img:hover{
    transform: scale(1.5);
}
@media (max-width: 700px)  {
    .container2{
        flex-direction: column;
    }
    .onepi{
        width: 100%;
        border: none;
    }
    .contact-row{
        width: 80%;
    }
}